body{
    background-color: #bbe2f1;

}
h1{

    color: rgb(0, 0, 0);
}

p{
 text-align: center;

}

div{
    text-align: center;
   
   }
.box1{
 background-color: black;
 width: 400px;height: 30px;
 
}
#box2{
    background-color: hsl(190, 54%, 29%);
    width: 400px;height: 100px;
    margin:0px;
   padding:0px;
}

   

.FOOTER{
    background-color: #4796ae;
    padding:10px;
}
#BUTTON{
    "padding:5px;
    height:2rem;
    width: 14rem;
    background-color:black;
    color:white;
    font-size:2rem;
     border-radius:12rem;
     cursor: pointer;"
}
