body{
    background-color: #e0eff3;

}
h1{

    color: rgb(0, 0, 0);
}
.box1{
 background-color: black;
 width: 400px;height: 30px;
 
}
#box2{
    background-color: #226573;
    width: 400px;height: 100px;
    margin:0px;
   padding:0px;
}
#Text2{
    color: black;
}
#BUTTON{
    "padding:5px;
    height:2rem;
    width: 14rem;
    background-color:black;
    color:white;
    font-size:2rem;
     border-radius:12rem;
     cursor: pointer;"
}
